In [2]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df=pd.read_json(StringIO(Data))

In [6]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [4]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [5]:
df.to_json(orient="index")

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [7]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [8]:
wine_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [10]:
wine_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [11]:
wine_data.to_csv('wine.csv')

In [12]:
!pip install lxml
!pip install html5
!pip install beautifulsoap4

Requirement already satisfied: lxml in c:\users\aanan\appdata\local\programs\python\python39\lib\site-packages (4.6.3)

WARNING: You are using pip version 21.2.4; however, version 25.0 is available.
You should consider upgrading via the 'c:\users\aanan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Collecting html5
  Downloading html5-0.0.9-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: six in c:\users\aanan\appdata\local\programs\python\python39\lib\site-packages (from html5) (1.15.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\aanan\appdata\local\programs\python\python39\lib\site-packages (from html5) (49.2.1)
Requirement already satisfied: webencodings in c:\users\aanan\appdata\local\programs\python\python39\lib\site-packages (from html5) (0.5.1)
Installing collected packages: html5
Successfully installed html5-0.0.9

WARNING: You are using pip version 21.2.4; however, version 25.0 is available.
You should consider upgrading via the 'c:\users\aanan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.
ERROR: Could not find a version that satisfies the requirement beautifulsoap4 (from versions: none)
ERROR: No matching distribution found for beautifulsoap4
WARNING: You are using pip version 21.2.4; however, version 25.0 is available.
You should consider upgrading via the 'c:\users\aanan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [13]:
url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
failed_url = pd.read_html(url)

In [14]:
failed_url

[                               Bank Name               City         State  \
 0                   Pulaski Savings Bank            Chicago      Illinois
 1     The First National Bank of Lindsay            Lindsay      Oklahoma
 2  Republic First Bank dba Republic Bank       Philadelphia  Pennsylvania
 3                          Citizens Bank           Sac City          Iowa
 4               Heartland Tri-State Bank            Elkhart        Kansas
 5                    First Republic Bank      San Francisco    California
 6                         Signature Bank           New York      New York
 7                    Silicon Valley Bank        Santa Clara    California
 8                      Almena State Bank             Almena        Kansas
 9             First City Bank of Florida  Fort Walton Beach       Florida

     Cert                 Aquiring Institution      Closing Date  \
 0  28611                      Millennium Bank  January 17, 2025
 1   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
 2  27332    Fulton Bank, National Association    April 26, 2024
 3   8758            Iowa Trust & Savings Bank  November 3, 2023
 4  25851               Dream First Bank, N.A.     July 28, 2023
 5  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
 6  57053                  Flagstar Bank, N.A.    March 12, 2023
 7  24735  First Citizens Bank & Trust Company    March 10, 2023
 8  15426                          Equity Bank  October 23, 2020
 9  16748            United Fidelity Bank, fsb  October 16, 2020

    Fund  Sort ascending
 0                 10548
 1                 10547
 2                 10546
 3                 10545
 4                 10544
 5                 10543
 6                 10540
 7                 10539
 8                 10538
 9                 10537  ]

In [15]:
failed_url[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [16]:
url = "https://en.wikipedia.org/wiki/Mobile_country_code"
country_code = pd.read_html(url,match="Country",header=0) # We want to match only the country.

In [17]:
country_code

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [18]:
country_code[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [19]:
excel = pd.read_excel("data.xlsx")
excel

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [20]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

WARNING: You are using pip version 21.2.4; however, version 25.0 is available.
You should consider upgrading via the 'c:\users\aanan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [21]:
excel = pd.read_excel("data.xlsx")
excel

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

Pickle file : Pickle in Python is primarily used in serializing and deserializing a Python object structure. In other words, it's the process of converting a Python object into a byte stream to store it in a file/database, maintain program state across sessions, or transport data over the network.

In [26]:
excel.to_pickle('excel')

In [28]:
pickle_file = pd.read_pickle('excel')
pickle_file

    Name  Age
0  Krish   32
1   Jack   34
2   John   31